APP_ENV=local
LOG_LEVEL=info

GRPC_HOST=0.0.0.0
GRPC_PORT=9090

AUTH_SERVICE_ADDRESS=127.0.0.1:9091
USER_SERVICE_ADDRESS=127.0.0.1:9092

SCYLLA_HOSTS=127.0.0.1
SCYLLA_PORT=9042
SCYLLA_KEYSPACE=registration_saga_service
SCYLLA_USERNAME=admin
SCYLLA_PASSWORD=admin
SCYLLA_CONSISTENCY=quorum
SCYLLA_CONNECT_TIMEOUT=10s
SCYLLA_MAX_WAIT_SCHEMA_AGREEMENT=30s
SCYLLA_RETRY_ATTEMPTS=20
SCYLLA_RETRY_BACKOFF=2s

KAFKA_BROKERS=127.0.0.1:9092
KAFKA_REGISTRATION_GROUP_ID=registration-saga-service
